body{
  box-sizing: border-box;
      height:100%;
      width: 100%;
      margin: 0 auto;
      background-image: url('../img/2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color:#ece7ec;
      font-family: "	Copperplate", Times, serif;;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    text-align: center;
  }
  #flex img {
    display: flex;
    border: 40px;
    margin: auto;
    gap: auto;
  }
  .line{
    background-color: #e96920;
    width: 100%;
    height:5px;
    margin: 0 auto;
    padding:2px;
  }
  .title {
    position: relative;
    top: 0px;
    left: 10px;
  }
  .logo {
    position: relative;
    top: -80px;
    left: 250px;
    display: flex;
    gap: auto;
  }
  p { 
    margin-right: 4%; 
    margin-left: 4%; 
  }
  .footer{
    background: #0b3aea;
    font-family: 'Times New Roman', Times, serif;
  }
  .tittlefoo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: unset;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
  }
  .tittlefoo2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: unset;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
  }
  .footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
    text-transform: unset;
    color: white;
    margin-top: 10px;
  }
  .grid-8{
    list-style: none;
  }
  .grid-4{
    list-style: none;
  }