body{
    background-color: rgb(189, 189, 189);
    
}

.topbar{
    background-color: royalblue;
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    height: 13%;
}

.tittle{
    padding: 0% 0 0 2%;
    font-weight: bold;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.conteinerdeconteudo{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 3%;
}